/.idea/
/consumer/src/test/
/eureka/.mvn/
/eureka/src/test/
/oauth/.mvn/
/oauth/src/test/
/oauthsource/.mvn/
/oauthsource/src/test/
/provider/.mvn/
/provider/src/test/
/zuul/.mvn/
/zuul/src/test/
/consumer/src/test/
/consumer/target/
/eureka/target/
/oauth/target/
/oauthsource/target/
/provider/target/
/zuul/target/
